@model TipoCuenta

@{
	ViewData["Title "] = "Crear tipo cuenta";
}

<h1>Crear tipo de Cuenta </h1>
<h5> El tipo de cuenta se refiere a cómo podemos agrupar cuentas.
	Ejemplos: préstamos, tarjetas de crédito, etc.
</h5>
<div asp-validation-summary="ModelOnly" class=" text-danger"></div>

<form  asp-action="Crear">
	<div class=" mb-3">
		<label asp-for="Nombre" class="form-label"></label>
		<input type="text" asp-for="Nombre"  class="form-control"/>
		<span asp-validation-for="Nombre" class="text-danger"></span>
	</div>

	<button type="submit" class="btn btn-primary m-3">Enviar</button>>
	<a class="btn btn-secondary m-3" asp-action="Index">Cancelar</a>>
</form>

@section Scripts {
	<partial name="_ValidationScriptsPartial"/>
}
